@import "tailwindcss";


html,body{
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", sans-serif;
    scroll-behavior: smooth;
}

@layer utilities {

    .clip-path-custom {
        clip-path: polygon(0 0, 100% 0, 100% 98%, 75% 95%,0 100%);
    }

    .clip-path-custom-2 {
        clip-path: polygon(0 0, 100% 0, 100% 98%,25%, 95%,0 100%);
    }
    .clip-path-custom-3 {
        clip-path: polygon(0 0, 100% 0, 100% 98%,75% 96%,0 100%);
    }

    @keyframes blink{
        0%,100%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
    }
    .animate-blink {
    animation: blink 0.8s step-end infinite;
}

    @keyframes loading{
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(250%);
        }
    }
    .animate-loading-bar {
    animation: loading 0.8s ease infinite;
}

    @keyframes blob {
        0% {
            transform: translate(-50%, -50%) scale(1);
        }
        33% {
            transform: translate(-50%, -50%) scale(1.2);
        }
        66% {
            transform: translate(-50%, -50%) scale(0.8);
        }
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
    }
    .animate-blob {
        animation: blob 10s infinite;
    }
}
